@media (max-width:1700px){
    :root{
        --fz-text: 22px;
    --fz-neutral: 24px;
    --fz-title: 37px;
    --fz-secondary-heading: 60px;
    --fz-primary-heading: 70px; 
    }
   .section{
    margin: 0 230px;
   }
   .nav-logo img{
    width:  110px;
   }
   .sec-image img{
      width: 480px;
   }
   .sticky .navbar{
  
    padding: 10px 230px ;
}
.nav-items{
   gap: 30px;
  }
}
@media(max-width : 1500px){
  
    :root{
    --fz-text: 21px;
    --fz-neutral: 23px;
    --fz-title: 35px;
    --fz-secondary-heading: 57px;
    --fz-primary-heading: 65px; 
    }
   .section{
    margin: 0 180px;
   } 
   .sticky .navbar{
  
    padding:10px 180px ;
}
   .nav-logo img{
    width:  100px;
   }
   .sec-image img{
    width: 450px;
 }
 .nav-items{
   gap: 20px;
  }

}
@media(max-width : 1350px){
   .sections{
      padding-top: 110px;
      padding-bottom: 110px;
   }
   .spn1,.spn2{
      gap: 150px;
   }
   .intel{
      width: 80px;
   }
   .Alien{
      width: 280px;
   }
   .Corsair{
      width: 50px;
   }
   .Nvidia{
      width: 70px;
   }
   .AMD{
      width: 50px;
   }
    .sticky .navbar{
  
        padding: 5px 287px ;
    }
    .reason-card-logo img{
        width: 65px;
    }
    .topic {
        margin: 170px auto auto ;
        padding-bottom: 170px;
    }
    :root{
    --fz-text: 20px;
    --fz-neutral: 22px;
    --fz-title: 33px;
    --fz-secondary-heading: 54px;
    --fz-primary-heading: 62px; 
    }
   .section{
    margin: 0 150px;
   } 
   .sticky .navbar{
  
    padding: 10px 150px ;
}
   .nav-logo img{
    width:  80px;
   }
   .nav-items{
    gap: 15px;
   }
   .sec-image img{
    width: 400px;
 }

 .contact-left-background img{
    width: 300px;
 }
 .contact-right-background img{
    width: 400px;
 }
 .st img{
    width: 250px;
 }
}
@media(max-width : 1200px){
   
   .button{
      padding: 5px 20px;
  }
    .sections {
        padding-top: 110px;
    }
    .reason-card-logo img{
        width: 60px;
    }
    .topic {
        margin: 150px auto auto;
        padding-bottom: 150px;
    }
    :root{
    --fz-text: 19px;
    --fz-neutral: 21px;
    --fz-title: 31px;
    --fz-secondary-heading: 51px;
    --fz-primary-heading: 58px; 
    }
   .section{
    margin: 0 100px;
   } 
   .sticky .navbar{
  
    padding: 10px 100px ;
}
   .nav-logo img{
    width:  70px;
   }
   
   .sec-image img{
    width: 350px;
 }
 .animated-section {
    gap: 100px;
 }
 .contact-left-background img{
    width: 200px;
 }
 .contact-right-background img{
    width: 300px;
 }
 .contact {
    padding:100px 0;
   
}
.st img{
    width: 200px;
 }
}

@media(max-width : 1000px){
   .sections{
      padding-top: 90px;
      padding-bottom: 90px;
   }
    .footer-pages div a img{
       width: 30px;
    }
    .sections {
        padding-top: 90px;
    }
    .reason-card-logo img{
        width: 50px;
    }
    .topic {
        margin: 120px auto auto 70px;
        padding-bottom: 120px;
    }
    :root{
    --fz-text: 18px;
    --fz-neutral: 20px;
    --fz-title: 29px;
    --fz-secondary-heading: 48px;
    --fz-primary-heading: 53px; 
    }
   .section{
    margin: 0 50px;
   } 
   .sticky .navbar{
  
    padding: 10px 50px ;
}
   .nav-logo img{
    width:  60px;
   }
   
   .sec-image img{
    width: 300px;
 }
 .animated-section {
    gap:80px;
 }
 .contact-left-background img{
    width: 150px;
 }
 .contact-right-background img{
    width: 200px;
 }

 .st img{
    width: 150px;
 }
 .contact {
    padding: 20px 0;
   
}
   .reason-speech{
     max-width: 600px;
   }
   .reason-double-card{
    gap: 50px;
    margin: auto auto 50px;
   }
  
}

@media(max-width : 850px){
  
   .topic-speech {
      margin-bottom: 40px;
   }
   .footer-titles {
     margin: 40px auto 15px;
   }
   .footer-pages div a img {
    width: 20px;
}
  .Section-title {
    margin-bottom: 80px;
}
   .reason-cards{
      flex-direction: column;
       margin: 80px auto;
   }
   .reason-card{
      flex-direction: row;
      text-align: start;
      justify-content: center;
      gap: 20px;
      margin: 0 auto;
   }
   .reason-card div{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
   }
   .animated-sections {
    gap: 30px;
   }
   .sec-text{
      gap: 30px;
   }
  
   .sections {
      padding-top: 50px;
      padding-bottom: 50px;
  }
   .contact {
      padding: 0;
  }
   .contact-left-background img{
      width: 120px;
   }
   .contact-right-background img{
      width: 160px;
   }
   .dropdown-nav-item svg{
      width: 10px;
     
   }
   .nav-item button svg {
      margin-bottom: 1px;
  }
  .button{
   padding: 5px 17px;
}
   .spn1,.spn2{
      gap: 100px;
   }
   .intel{
      width: 60px;
   }
   .Alien{
      width: 220px;
   }
   .Corsair{
      width: 30px;
   }
   .Nvidia{
      width: 50px;
   }
   .AMD{
      width: 30px;
   }
    .st img{
        width: 100px;
     }
    .reason-card-logo img{
        width: 40px;
    }
    :root{
    --fz-text: 16px;
    --fz-neutral: 18px;
    --fz-title: 25px;
    --fz-secondary-heading: 43px;
    --fz-primary-heading: 48px; 
    }
   .section{
    margin: 0 35px;
   } 
   .sticky .navbar{
  
    padding: 10px 35px ;
}
   .nav-logo img{
    width:  50px;
   }
  
   .sec-image img{
    width: 270px;
 }
 .animated-section {
    gap:50px;
 }

}

@media (max-width:720px){

 
}
@media (max-width:650px){
   .topic {
      margin: 120px auto auto 50px;
      padding-bottom: 120px;
  }
  .topic-speech{
   max-width: 100%;
  }
   :root{
      --fz-text: 14px;
      --fz-neutral: 16px;
      --fz-title: 23px;
      --fz-secondary-heading: 38px;
      --fz-primary-heading: 42px; 
      }
      .sec-image img{
         width: 190px;
      }
}


@media(max-width:600px){
   .nav-items{
   
      flex-direction: column;     
      position: absolute;
      top: 30%;
      left: 35%;
      align-items: start;
      
      opacity: 0;
   
   }
  .nav-item a {
  
   color: var(--Heading-cl);
  
}
   .Phone-Button{
      display: block;
   }
  .phone-effect{
   display: flex;
   align-items: center;
   justify-content: center;
   position: fixed;
   right: 0;
   width: 30px;
   height: 100%;
   top: 0;
   background-color: #171C30;
   opacity: 0.8;
   z-index: 1111;
   transition: 0.3s all;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
  }
  .nav-drop-item button{
  padding:0;
  
  }
  .understicky{
   padding-top: 0;
  }
  .phone-effect-button{
   display: block;
}
  .sticky{
   position: relative;
  }
  .phone-effect:hover{
   width: 30%;
  }
  .phone-effect:hover .nav-items{
   opacity: 1;
   transition: .2s all;
  }
  .phone-effect-container{
   position: relative;
  }
  .phone-effect-button{
    position: absolute;
    left:0;
    
    z-index: 99999999999;
    background-color: #171C30;
   
  }
  .phone-effect-button button{
   background-color: transparent;
   border: none;
   width: 30px;
   height: 60px;
   padding: 0;
  }
  .barres{
   display: flex;
   width: 50%;
   height: 50%;
   gap: 5px;
   margin-left: 10px;
  }
  .barre1{
   height: 60%;
   width: 2px;
   background-color: white;
   transition: 0.5s all;
  }
  .barre2{
   height: 100%;
   width: 2px;
   background-color: white;
   transition: 0.5s all;
  }
  .phone-effect:hover .barre1{
   height: 100%;
  }
  .phone-effect:hover .barre2{
   height: 60%;
  }
}