:root{
     --primary-cl :#000013;
     --secondary-cl:#9056AE;
     --secondary-heading-cl:#5879BC;
     --neutral-cl:rgba(255, 255, 255, 0.50);
     --card-cl:rgba(47, 57, 77, 0.50);
     --Heading-cl:#FFF;
     --text-cl:#F4F3F3;

     --ff-primary:"Turret Road";
    
     --fw-light:200;
     --fw-regular:400;
     --fw-bold:700;
     --fw-extra-bold:800;

     --fz-text: 24px;
     --fz-neutral: 26px;
     --fz-title: 40px;
     --fz-secondary-heading: 64px;
     --fz-primary-heading: 74px;


    
}


body{
    margin: 0;
}
.Main{
  background-color: #000013;
  z-index: 0;
  position: relative;
}

.Section-title{
    margin-bottom: 100px;
}
.section{
    margin: 0 287px;
    
}
.sections{
   padding-top: 130px;
   padding-bottom: 130px;
}
.phone-barre{
  
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    width: 50px;
    background-color: #171C30;
    z-index: 1;
}
/*First_vue_css*/
.phone-effect-button{
    display: none;
}
.First_vue{
   
    position: relative;
    overflow: hidden;
    background-image: url('../img/1.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.First_vue-content{ 
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.30) 80.73%); 
    position: relative; 
    max-width: 1980px; 
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    align-items: center;
}
.nav-items{
    display: flex;
    gap: 40px;
  align-items: center;
}
a{
    text-decoration: none;
}
.nav-item button{
  background-color: transparent;
  border: none;
  cursor: pointer;
 
}
.nav-item button svg{
    margin-bottom: 2px;
}
.nav-item a{

 font-family: var(--ff-primary);
 font-weight: var(--fw-regular);
 font-size: var(--fz-neutral);
    color: var(--neutral-cl);
    transition: all 0.5s;
}
.nav-item a:hover{
    color: var(--Heading-cl);
}
.nav-item  a svg,.nav-item  a svg path{
transition: all 0.5s ;
}
.nav-item  a:hover svg path{
   fill-opacity:1;
  }
  .nav-item{
    position: relative;
  }
  .nav-item-dropdown{
    position: absolute;
    top: 150%;
    background-color: var(--card-cl);   
    border-radius: 10px;
    overflow: hidden;
   max-height: 0;
   opacity: 0;
   transition: all .7s;
  }
  .sticky .nav-item-dropdown{
    top: 200%;
  }
  .nav-item-dropdown-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 20px 50px;
  }
 
  .dropable .nav-item-dropdown{
    max-height: 300px;
    opacity: 1;
  }
  .dropable .dropdown-nav-item{
    color: var(--Heading-cl);
  }
  .dropable .nav-item  a svg{
    transform: rotate(180deg);
  }
  .dropable .nav-item  a svg path{
     fill-opacity:1;
    }
  .dropdwon-item a {
    font-size: var(--fz-text);
    font-weight: var(--fw-light);
  }
.nav-buttons {
    display: flex;
    gap: 16px;
}
.topic-speech{
    font-family: var(--ff-primary);
    font-size: var(--fz-primary-heading);
    font-weight: var(--fw-bold);
    color: var(--Heading-cl);
    max-width: 90%;
    margin-bottom: 75px;
}
.topic{
    margin: 200px auto auto ;
   padding-bottom: 200px;
}

.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   
    background-color:#171C30 ;
    
    
    z-index: 999999999;
    
    border-bottom: 10px;
    transition: all 0.3s;
 
}
.sticky .nav-item-dropdown{
   
    background-color: #171C30;
}
.sticky .navbar{
  
    padding: 10px 287px ;
}
.button{
    padding: 9px 26px;
}

.Phone-Button{
    display: none;
}
.Phone-Button button{
    background-color:transparent;
   border: none;
    width:  20px;
    padding: 0;
    display: flex;
    justify-content: center;
    transition: all 0.5s;
}




.dropdown-nav-item svg{
    margin-left: 2px;
}

.Phone-Button button:hover .barres .barre2{
    
}


/*/  First_vue_css*/

/*buttons css*/
.trans-button{
    background-color: transparent;
    border: 1px solid var(--Heading-cl);
    border-radius: 5px;
    cursor: pointer;
   
   
}
.trans-button:hover{
    background-color: var(--Heading-cl);
    color:var(--secondary-cl);
}
.trans-button  , .normal-button {
    font-weight: var(--fw-bold);
    font-size: var(--fz-neutral);
    font-family: var(--ff-primary);
    color: var(--Heading-cl);
     transition: 0.5s all;
}
.normal-button{
    background-color: var(--secondary-cl);
    border: 1px solid var(--secondary-cl);
    border-radius: 5px;
    cursor: pointer;
    
}
.normal-button:hover{
    background-color: var(--Heading-cl);
    color:var(--secondary-cl);
    border-color: var(--Heading-cl);
}
.understicky{
  padding-top: 80px;
}
/*buttons css*/

.animated-section{
    display: flex;
}
.animated-sections-title{
    font-family: var(--ff-primary);
    font-size: var(--fz-secondary-heading);
    color: var(--Heading-cl);
    font-weight: var(--fw-extra-bold);
    
    text-align: center;
 
}
.sec-title{
    font-family: var(--ff-primary);
    font-size: var(--fz-title);
    font-weight: var(--fw-bold);
    color: var(--secondary-heading-cl);

}
.sec-speech {
    font-family: var(--ff-primary);
    font-size: var(--fz-text);
    font-weight: var(--fw-light);
    color: var(--text-cl);
}
.animated-section{
    display: flex;
    gap: 100px;
   
}
.animated-sections{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.sec-text{
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 30px;
}
.sections-container{
    max-width: 1980px;
     margin: 0 auto;
     position: relative;
     overflow: hidden;
}

.st1{
    position: absolute;
    right: 0;
    top: 10%;
    z-index: -1;
}
.st2{
    position: absolute;
    left: 0;
    top: 45%;
    z-index: -1;
}
.st3{
    position: absolute;
    right: 0;
    bottom: 10%;
    z-index: -1;
}
.animate{
    transform: scale(0.6);
    filter: blur(5px);
    transition: all 1s ease;
}
.animate2{
    transform: scale(0.6);
    filter: blur(5px);
    transition:  all  1s ease;
}
.animate.translate-animation,.animate2.translate-animation{
    transform: scale(0.8);
    filter: blur(0);
}
/*sponsor bar*/
.sponsor{
    position: relative;
    overflow: hidden;
    background: var(--card-cl);
    padding: 10px;
    display: flex;
    max-width: 1980px;
    margin: 0 auto  ;

    
}
.spn1{
    display: flex;
    gap: 220px;
    align-items: center;
    animation: cross 12s linear infinite;
}
.spn2{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 220px;
    transform: translateX(120%);
    animation: cross 12s  linear infinite;
    animation-delay: 6s;
    
}
@keyframes cross{
    0%{
        transform: translateX(120%);
    }
    100%{
        transform: translateX(-120%);
    }
}


/*Reasons css*/
.reason-text{
    text-align: center;
}
.reason-title{
    font-family: var(--ff-primary);
    font-size: var(--fz-secondary-heading);
    font-weight: var(--fw-extra-bold);
    color: var(--Heading-cl);
  
}
.reason-speech{
    font-family: var(--ff-primary);
    font-size: var(--fz-text);
    color: var(--text-cl);   
    font-weight: var(--fw-bold);
   margin: 0 auto;
}
.reason-card-title{
   font-family: var(--ff-primary);
   font-size:var(--fz-title);
   font-weight: var(--fw-bold);
   color: var(--secondary-heading-cl);
}
.reason-card-speech{
    font-family: var(--ff-primary);
    font-size: var(--fz-text);
    font-weight: var(--fw-light);
    color: var(--Heading-cl);
   
}

.reason-card{
    display: flex;
   
    width: 450px;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    border-radius: 10px;
    gap: 10px;

   position: relative;

}

.reason-cards{
   margin: 110px auto ;
}
.reason-cards{
    display: flex;
    gap: 40px;
}
.reason-button{
    display: flex;
    justify-content: center;
    
}




/*Contact css*/
.contact-container{
    background-color:#563865;
   
}
.contact{
     padding: 150px 0;
    text-align: center;
}
.contact-title{
   font-family: var(--ff-primary);
   font-weight: var(--fw-bold);
   font-size: var(--fz-primary-heading);
   color: var(--Heading-cl);
   
   
    margin: 0 auto;
    margin-bottom: 39px;
}
.contact-speech{
    font-family: var(--ff-primary);
    font-weight: var(--fw-regular);
    font-size: var(--fz-text);
    color: var(--Heading-cl);

    margin: 0 auto;
    margin-bottom:84px;
}
.contact-left-background{
    position: absolute;
    top:10%;
}
.contact-right-background{
    position: absolute;
    right: 0;
    top:10%;
}


/*footer css*/
.footer-content{
    display: flex;
    justify-content: space-between;
}
.footer-titles{
    color: var(--text-cl);
    font-size: var(--fz-neutral);
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    margin: 60px auto 30px;
}
.footer-pages{
    margin-bottom: 10px;
}
.footer-pages a{
    color: var(--neutral-cl);
    font-family: var(--ff-primary);
    font-weight: var(--fw-regular);
    font-size: var(--fz-text);
    transition: 0.3s all;
}
.footer-pages a:hover{
    color: var(--Heading-cl);
    
}
.footer-pages{
    display: flex;
    justify-content: space-between;
}



/*copyright*/
.copyright{
    background-color: var(--card-cl);
    padding: 15px;
    text-align: center;
}
.ft{
    font-family: var(--ff-primary);
    font-size: var(--fz-text);
    font-weight: var(--fw-light);
    color: var(--neutral-cl);
}
.sd{
    font-family: var(--ff-primary);
    font-size: var(--fz-neutral);
    font-weight: var(--fw-bold);
    color: var(--neutral-cl);
}